@charset "UTF-8";
body{
    background-color: rgb(171, 219, 196);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: rgb(62, 94, 78);
}

h1#principal{
    text-align: center;
    background-color: rgb(62, 133, 105);
}

h2{
    color: rgb(57, 121, 94);
}