@charset "UTF-8";
body {
           background-color: wheat; 
           font-family: Arial, Helvetica, sans-serif;
           font-size: 20px;
        }
        
        h1 {
            color: rgb(101, 61, 173);
            background-color: rgb(228, 156, 186);
        }

        h2{
            color: darkred;
        }

        p{
            text-align: justify;
        }