@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right, #76A6B4, #507993);
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #3957699a;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #D4B99E;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(134, 117, 100, 0.643);
}
h2{
    color: #76A6B4;
}
p{
    text-align: justify;
}

